VITE_HOSTERA_API_URL=http://localhost:3000
VITE_PROPERTIES_ENDPOINT_PATH=/properties
VITE_INVENTORY_ITEMS_ENDPOINT_PATH=/inventory-items
VITE_STORAGE_LOCATIONS_ENDPOINT_PATH=/storage-locations
VITE_PRIMEVUE_LICENSE_KEY="your-primevue-license-key"
